<% if (isGuest) { %>
  <%- include('partials/header-guest') -%>
<% } else { %>
  <%- include('partials/header') -%>
<% } %>

<script>
  window.isGuest = <%= isGuest || false %>;
</script>

<main class="bg-base-300 w-full max-w-5xl h-auto mx-auto px-4 py-10">
  <section class="flex flex-col items-center space-y-8">
    <div class="text-center space-y-2">
      <h1 class="font-bold text-2xl sm:text-3xl">Hey! I'm François. Your personal design assistant.</h1>
      <p class="text-sm sm:text-base text-gray-600">Upload a photo of a garment and I’ll help you brainstorm fresh upcycling and design ideas!</p>
    </div>

    <div class="bg-base-100 shadow-lg p-6 w-full max-w-3xl rounded-lg">
      <h3 class="text-lg font-semibold mb-4 text-center">Upload Garment</h3>

      <form id="aiForm" enctype="multipart/form-data" class="space-y-4">
        <input type="file" name="file" id="fileInput" class="file-input file-input-bordered w-full" />
        <button type="submit" class="btn btn-primary w-full">Generate Suggestions</button>
      </form>

      <div id="loading" class="hidden mt-6 text-center">
        <span class="loading loading-bars loading-xl block mx-auto"></span>
        <p class="font-bold mt-2">Brainstorming Design Ideas...</p>
      </div>

      <div id="resultsContainer" class="mt-6 w-full space-y-4"></div>

      <div id="loadingTwo" class="hidden mt-6 text-center">
        <span class="loading loading-bars loading-xl block mx-auto"></span>
        <p class="font-bold mt-2">Creating your Mockup...</p>
      </div>

      <div id="mockupContainer" class="mt-6 w-full space-y-4"></div>
    </div>
  </section>
</main>

<script type="text/javascript" src="main.js"></script>
</body>
</html>
