<%- include('partials/header') -%>

<main class="max-w-6xl mx-auto px-4 py-10">
  <div class="grid  gap-4">
    <% for (let i = 0; i < posts.length; i++) { %>
      <a href="/post/<%= posts[i]._id %>" class="block rounded overflow-hidden group">
        <img
          src="<%= posts[i].image %>"
          alt="Post image"
          class="w-full h-full object-cover transition-transform duration-300 group-hover:scale-105"
        />
      </a>
    <% } %>
  </div>
</main>

<%- include('partials/footer') -%>