<%- include('partials/header-guest') -%>

<main class="flex justify-center items-center min-h-[80vh] px-4">
  <section class="w-full max-w-md bg-base-200 p-6 rounded-lg shadow">
    <% if (locals.messages.errors) { %>
      <% messages.errors.forEach(el => { %>
        <div class="alert alert-error mb-4"><%= el.msg %></div>
      <% }) %>
    <% } %>

    <% if (locals.messages.info) { %>
      <% messages.info.forEach(el => { %>
        <div class="alert alert-info mb-4"><%= el.msg %></div>
      <% }) %>
    <% } %>

    <h2 class="text-xl font-bold mb-6 text-center">Sign Up for UpNext</h2>

    <form action="/signup" method="POST" class="space-y-4">
      <div>
        <label for="userName" class="label">
          <span class="label-text font-semibold">User Name</span>
        </label>
        <input
          type="text"
          id="userName"
          name="userName"
          class="input input-bordered w-full"
        />
      </div>

      <div>
        <label for="email" class="label">
          <span class="label-text font-semibold">Email Address</span>
        </label>
        <input
          type="email"
          id="email"
          name="email"
          class="input input-bordered w-full"
        />
        <p class="text-xs text-gray-500 mt-1">We’ll never share your email with anyone else.</p>
      </div>

      <div>
        <label for="file" class="label">
          <span class="label-text font-semibold">Profile Photo</span>
        </label>
        <input type="file" name="file" class="file-input file-input-bordered w-full" />

      <div>

      <div>
        <label for="password" class="label">
          <span class="label-text font-semibold">Password</span>
        </label>
        <input
          type="password"
          id="password"
          name="password"
          class="input input-bordered w-full"
        />
      </div>

      <div>
        <label for="confirmPassword" class="label">
          <span class="label-text font-semibold">Confirm Password</span>
        </label>
        <input
          type="password"
          id="confirmPassword"
          name="confirmPassword"
          class="input input-bordered w-full"
        />
      </div>

      <button type="submit" class="btn btn-primary w-full">Create Account</button>
    </form>
  </section>
</main>

<%- include('partials/footer') -%>